// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.btn-purple {
  background-color: #6a0dad;  /* 紫色背景 */
  color: white;               /* 白色文字 */
  border: none;
  padding: 0.75em 1.5em;
  border-radius: 0.375em;
  text-decoration: none;
}
.btn-purple:hover {
  background-color: #5a0099;
}
